.content{
    display: flex;
    justify-content: space-between;
    // padding: 100px 100px;
    margin: 100px 0;

    &__left{
        display:flex;
        flex-direction: column;
        // flex-basis: 650px;

        &--h1{
            max-width: 600px;
            font-size: 50px;
            text-transform: capitalize; 
            font-weight: bold;
            color: #007bff;
            span{
                font-size: 40px;
                color:#05a0bf;
                
            }   
        }
        &--desc{
            margin-top: 10px;
            font-size: 20px;
            font-weight: 400;
            max-width: 400px;
            color: rgb(120, 120, 120);
        }
        
        &--btn{
            width: 150px;
         display: inline-block;
         padding: 10px; 
            font-size: 18px;
        outline: none;
        border: none;
         border-radius: 10px;
         background-color: #0567A6;
         color: white;
        }

        &--btn:hover{
            cursor: pointer;
            opacity: 1;
        }

    }

    &__right{
        display: flex;
        flex-shrink: 1;
        justify-content: center;

        &--image{
            width: 100%;
            object-fit: cover;
            border-radius: 2px;
            box-shadow: 3px 3px 15px rgb(100, 100, 100);
        }   
        &--image:hover{
            cursor: pointer;
            opacity: 0.9;
        }
    }


}